/* Home */

#bodyHome {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFF8DC;
}

#globalHeader {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

#globalHeader label {
    font-size: 25px;
    color: #FF7F50;
    background-color: #FFEBCD; 
    padding: 5px 10px;
    font-family: 'Playfair Display', serif;
 
}


#globalHeader nav a {
    padding: 0 12px;
    color: #FF7F50;
    text-decoration: none;
}
#middlespace {
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FFF8DC;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

#homeImages img {
    height: 350px;
    padding: 0;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin: 10px;
}

#homeImages img:hover {
    transform: scale(1.1);
}

#homeImages .img-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

#homeImages .first img {
    width: 1000px;
}

#homeImages .second img {
    width: 490px;
}

@media (max-width: 1000px) {
    #homeImages .img-grid {
        grid-template-columns: auto;
    }

    #homeImages .img-grid img {
        width: 85vw;
    }
}

.image-container {
    position: relative;
    display: inline-block; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 128, 144, 0.8); /* Changed to rgb(112, 128, 144) */
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    font-size: 20px;
    font-family: 'Great Vibes', cursive; 
    font-weight: 400; 
    color: white; 
    padding: 0 80px;
}
